.header-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  // background: rgb(0,0,0);
  opacity: 0;
  z-index: -5;
}

div.header-overlay.fade-header-in {
  opacity: 1;
}


.header-overlay {
  opacity: 0; 
  color: #000;
  background-color: #141414; 
  transition: opacity 1s ease-in-out;
}
.scroll-down {
  position: fixed;
  z-index: 13; 
  width: 100%; 
}
.navbar-flex {
  display: flex; 
  // background-color: rgba(0, 0, 0, 0.80); 
  color: white; 
  width: 100%; 
  height: 100%;
  padding: 5px;
  font-size: 14px; 
  justify-content: space-between; 
}

.navbar-link-home {
  padding-top: 5px; 
  margin-right: 15px; 
  height: 40px; 
  margin-top: 10px; 
  padding-left: 180px;  
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  opacity: 1;

}
.navbar-link-tvshows {
  padding-top: 5px; 
  margin-right: 15px; 
  height: 40px; 
  margin-top: 10px; 
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-link-movies:hover {
  font-weight: bolder; 
}



.navbar-link-movies {
  opacity: 1;

  text-decoration: none; 
  padding-top: 5px; 
  margin-right: 15px; 
  height: 40px; 
  margin-top: 10px; 
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white; 
  z-index: 12;
  // font-weight: bold; 
}

.navbar-kumaflix {
  position: absolute; 
  background: image_url('KUMAFLIX.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 100px; 
  height: 80px; 
  color: black; 
  filter:brightness(125%);
  z-index: 3px; 
  margin-top: 17px; 
  margin-left: 60px; 
}

.fa.fa-caret-down {
  position: absolute;
  margin-left: 1540px; 
}

.profile-avatar {
  background: image_url('profile_1.png');
  position: absolute; 
  width: 32px;
  height: 32px;
  background-size: contain; 
  background-repeat: no-repeat; 
  margin-left: 1500px; 
  z-index: 5px;
}

i {
  justify-content: flex-end; 
  color: white; 
}

.pop-up {
  display: block;
  position: absolute;
  z-index: 2;
  background: black;
  color: white;
  font-weight: 300;
  padding: 10px 20px;
  border: 0.5px solid gray;
  width: 150px;
  right: 45px;
  top: 55px;
}

.pop-up:hover {
  display: block;
}


.dropbtn {
  background: image_url('profile_1.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%; 
  height: 100%; 
}


.user-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  position: relative;
  width: 10px;
  margin-right: 10px;
}

#pop-up-logout{
  border-top: 0.5px solid gray;
  margin-top: 10px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // background-color: #333;
  
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline; 
}

li.dropdown {
  display: inline-block;
  height: 100%; 
  background-color: #377C7F; 
}

.ul-margin {
  right: 220px; 
  position: fixed;
  top: 50px; 
}
.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.80); 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  // margin-top: 10px; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.profile-drop-flex {
  display: flex; 
  margin-right: 90px; 
  margin-top: 10px; 
}

// search bar code from codepen // 

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color:white;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	// background:url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  background: image-url('magnifyglass.png') no-repeat 9px center;
  background-size: contain;
  height: 4px; 
  width: 4px; 
  background-repeat: no-repeat;  
	padding: 9px 10px 9px 32px;
 
  margin-right: 20px; 
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.search-bar-pos {
  margin-top: 8px; 
}
/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
// #demo-2 input[type=search]:hover {
// 	background-color: #fff;
// }
#demo-2 input[type=search]:focus {
	width: 170px;
	padding-left: 42px;
	color: white;
  background-color: black;
  border: 1px solid white; 
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

// Search bar code came from codepen