.navbar-flex {
  display: flex; 
  background-color: rgba(0, 0, 0, 0.80); 
  color: white; 
  width: 100%; 
  height: 100%;
  padding: 5px;
  align-items: center;
  font-size: 14px; 
}

.navbar-link-home {
  padding-top: 5px; 

  margin-right: 15px; 
  height: 40px; 
  margin-top: 10px; 
  padding-left: 180px;  
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.navbar-link-tvshows {
  padding-top: 5px; 
  margin-right: 15px; 
  height: 40px; 
  margin-top: 10px; 
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-link-movies:hover {
  font-weight: bolder; 
}
.navbar-link-movies {
  text-decoration: none; 
  padding-top: 5px; 
  margin-right: 15px; 
  height: 40px; 
  margin-top: 10px; 
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white; 
  // font-weight: bold; 
}

.navbar-kumaflix {
  position: absolute; 
  background: image_url('KUMAFLIX.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 100px; 
  height: 80px; 
  color: black; 
  filter:brightness(125%);
  z-index: 3px; 
  margin-top: 17px; 
  margin-left: 60px; 
}

.fa.fa-caret-down {
  position: absolute;
  margin-left: 1540px; 
}

.profile-avatar {
  background: image_url('profile_1.png');
  position: absolute; 
  width: 32px;
  height: 32px;
  background-size: contain; 
  background-repeat: no-repeat; 
  margin-left: 1500px; 
  z-index: 5px;
}

i {
  justify-content: flex-end; 
  color: white; 
}

.pop-up {
  display: block;
  position: absolute;
  z-index: 2;
  background: black;
  color: white;
  font-weight: 300;
  padding: 10px 20px;
  border: 0.5px solid gray;
  width: 150px;
  right: 45px;
  top: 55px;
}

.pop-up:hover {
  display: block;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  position: relative;
  width: auto;
  margin-right: 10px;
}

#pop-up-logout{
  border-top: 0.5px solid gray;
  margin-top: 10px;
  padding-top: 10px;
}