.logout-btn {
  background: #141414;
  color: grey;  
  
  // border-radius: 4px; 
  width: 250px; 
  height: 50px;
  // font-size: 18px;
  position: absolute;
  bottom: 280px;
  font-size: 22px;
  font-weight: .4;  
}
.profiles-login-btn {
  background: #141414;
  color: grey;  
  
  // border-radius: 4px; 
  width: 250px; 
  height: 50px;
  // font-size: 18px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  bottom: 280px;
  font-size: 22px;
  font-weight: .4;
  
}

.profiles-bg {
  background: #141414; 
  height: 100%; 
  width: 100%; 
  position: relative; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%; 
}

.prof-flex-container {
  display: flex; 
  flex-direction: column;
  align-content: center; 
  justify-content: center; 
  align-items: center; 
}

.kumaflix-logo-profiles {
  background: image_url('KUMAFLIX.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  position: absolute;
  top: 20px; 
  left: 55px; 
  width: 125px; 
  height: 100px; 
  color: black; 
  filter:brightness(125%);
  z-index: 2;
}

.profile-title {
  color: white; 
  font-size: 55PX;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: center;
  font-weight: 4; 
  letter-spacing: 1px; 
  margin-top: 170px;
  padding: 25px;  
}

.user-text {
  color: grey; 
  font-size: 24PX;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: center;
  font-weight: 4; 
  letter-spacing: 1px; 
  margin-top: 10px;
  padding: 25px;  
}

.add-profile-button:hover {
  color: black; 
}
.profiles-flex {
  height: 100%; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.add-profile-button {
  // height: 1050px; 
  height: 320px; 
  width: 1050px; 
  background: image_url('all_profiles.png'); 
  background-size: contain;
  background-repeat: no-repeat; 
}
.add-profile-button-2 {
  margin-left: 100px; 
  height: 167px; 
  width: 167px; 
  background: image_url('profile_1.png'); 
  background-size: cover;
}