.logout-btn {
  background: red;
  color: white;  
  margin-top: 20px; 
  border-radius: 4px; 
  width: 150px; 
  height: 30px;
  font-size: 18px; 
}

.profiles-bg {
  background: #141414; 
  height: 100%; 
  width: 100%; 
  position: relative; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%; 
}

.netflix2 {
  background: image_url('netflix2.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  position: absolute;
  top: 20px; 
  left: 55px; 
  width: 125px; 
  height: 25px; 
  color: black; 
  filter:brightness(125%);
  z-index: 2;
}

.profile-title {
  color: white; 
  font-size: 55PX;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: center;
  font-weight: 4; 
  
  letter-spacing: 1px; 
  margin-top: 170px;
  padding: 25px;  
}

.add-profile-button:hover {
  color: black; 
}
.profiles-flex {
  height: 100%; 
  display: flex; 
  
  flex-direction: column;
  align-items: center; 
}

.add-profile-button {
  height: 167px; 
  width: 167px; 
  background: image_url('profile_1.png'); 
  background-size: cover;
  
}