.profiles-bg {
  background: black; 
  height: 100%; 
  width: 100%; 
  position: relative; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%; 
}