.f-movie-flex-container {
  height: 100%;
  color: white;
  z-index: 0; 
  display: flex;  
  margin-top: 0px; 
}

.f-movie-photo {
  // background: image_url('RLES_black_flag_fire_photo_cropped.png'); 
  // background: image_url('MURSA_black_pearl.gif');

  // content: url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Assets/YLTI_GIF_small.gif');  
  content: url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Photos/YLTI_GIF_6.gif');  
  // content: url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Photos/YLTI_GIF_3.gif');
  // content: url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Photos/YLTI_GIF_2.gif');
  // content: url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Photos/Mursa_gif_2.gif');
  // content: url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Photos/RLES_black_flag_fire_photo.png');
  width: 100%;
  font-family: "Poppins", sans-serif;
  z-index: 0;
  height: 100%; 
  
}

.kuma-flix-original {
  background: image_url('Black_Flag_shadow.png');
  z-index: 2;
  height: 30%; 
  width: 30%; 
  background-repeat: no-repeat;  
  background-size: contain; 
  // margin-top: 275px; 
  margin-top: 15%;
  margin-left: 60px;
  position: absolute; 
}

.f-movie-play-link {
  position: absolute;
  width: 7%; 
  height: 40px; 
  margin-top: 23%; 
  // margin-top: 410px; 
  margin-left: 70px; 
  background-color: rgba(0, 0, 0, 0.50);
  color: white; 
  background-size: contain; 
  border: 1px white solid;
  z-index: 10; 
  text-decoration: none; 
}

.my-list-btn {
  position: absolute;
  width: 7%; 
  height: 40px; 
  // width: 9%; 
  // height: 5%; 
  margin-top: 23%; 
  // margin-top: 410px; 
  margin-left: 250px; 
  background-color: rgba(0, 0, 0, 0.50);
  color: white; 
  background-size: contain; 
  font-size: 20px; 
  border: 1px white solid;
  z-index: 10; 
}

.font-play {
  margin-top: 5px; 
  font-size: 20px; 
  text-align: center; 
  text-decoration: none; 
}

