.contain {
  width: 100%;
}
video {
  width: 100vw; 
}
.all-movies-flex {
  display: flex; 
  align-content: center; 
}

.music-videos {
  margin-top: 70px; 
}
.performance-videos {
  margin-top: 80px; 
}
.animation-videos {
  margin-top: 80px; 
}
.music-videos-title {
  font-size: 24px; 
  color: white; 
  text-align: left;
  font-weight: 1; 
  padding: 30px 30px 0px 10px; 
  position: absolute;
}
.animation-videos-title {
  font-size: 24px; 
  color: white; 
  text-align: left;
  font-weight: 1; 
  padding: 30px 30px 0px 10px; 
  position: absolute;
  margin-top: 440px; 
}

.row-titles {
  position: absolute;
}

.performance-videos-title {
  font-size: 24px; 
  color: white; 
  text-align: left;
  font-weight: 1; 
  padding: 50px 30px 10px 10px; 
  position: absolute;
  margin-top: 200px; 
}



.all-movies-flex > h1 {
  color: white; 
}

.featured-videos > h1 {
  z-index: 20;
  color: white; 
  text-align: left; 
  position: absolute; 
  margin-top: 20px; 
  font-size: 26px; 
  font-weight: 1; 
}

.music-videos > h1 {
  z-index: 20;
  color: white; 
  text-align: left; 
  position: absolute; 
  margin-top: 45px; 
  font-size: 26px; 
  font-weight: 1; 
}

// <i class="fas fa-caret-down"></i>
.fa-caret-down {
  width: 20px; 
  height: 20px; 
  position: absolute;
}

.down-arrow-play {
  background: image-url('play_button.png');
  background-repeat: no-repeat; 
  background-size: contain; 
  width: 22px; 
  height: 22px;
  z-index: 15;
  position: absolute;
  left: 20px; 
  top: 88px; 
  display: hidden; 
}

.add_list {
  background: image-url('list_plus.png');
  background-repeat: no-repeat; 
  background-size: contain; 
  width: 22px; 
  height: 22px;
  z-index: 15;
  position: absolute;
  left: 210px; 
  top: 88px; 
  display: hidden; 
}
.down-arrow-info {
  background: image-url('arrow_dropdown.png');
  background-repeat: no-repeat; 
  // background-color: red; 
  background-size: contain; 
  width: 10px; 
  height: 10px;
  z-index: 15;
  position: absolute;
  margin-left: 100px; 
  margin-top: 95px; 
  display: hidden; 
}

h1 {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
h2 {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
h3 {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.ow div {
  width: 80%;
  display: inline;  
}
// Animated video scrolling from codepen
.ow {
  width: 100%; 
  height: 100px; 
  hyphens: auto; 
  white-space: pre-wrap; 
}

body, html {
  padding: 0 10px;
  margin: 0;
  background: #141414;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
* {
  box-sizing: border-box;
}
// h1,
// p {
//   text-align: center;
// }
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
a:link, a:hover, a:active, a:visited {
  transition: color 150ms;
  // color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.flex-container-movies {
  display: flex;
}

.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  // margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  // background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
}
.tile__details:after, .tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  // background: rgba(0,0,0,0.5);
  z-index: 1;
}


.tile__details:before {
  // content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
  border: 2px solid white; 
}
.tile__title {
  width: 100%; 
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}

.index-spacing {
  margin-top: 100px; 
}
