.movie-info-flex-container {
  background: image-url('https://s3-us-west-1.amazonaws.com/kumaflix-movies/Photos/AK_reel_photo.png');
  background-size: contain; 
  background-repeat: no-repeat; 
  z-index: 200px;
  width: 100%;
  height: 100%; 
  position: absolute;
}

.z-i {
  z-index: 1000;
}

.info-poster {
  z-index: 50;
  padding: 100px 100px 100px 100px; 
}

h2 {
  color: white; 
}

.movie-info {

  width: 110%; 
  height: 630px; 
  // // overflow: hidden; 
  // // position: relative;
  // background-color: black; 
  // border: 5px solid #141414; 
  // margin-top: 40px;
  // display: flex; 
}

.movie-info div {
  color: white; 
  // position: absolute;
  // z-index: 100;
  width: 1000px;
  height: 1000px;
}

.movie-info img {

  // position: relative; 
  // bottom: 200px; 
  // padding: 10px; 
}



.info-title {
  // color: white; 
  // z-index: 200;
  top: 30px; 
  
  width: 150%; 
  height: 630px;
  overflow: hidden;  
  position: relative;
  width: 100%;
}
.kumaflix-original-title {
  background: image_url('akumaflixoriginal.png');
  z-index: 2;
  height: 30%; 
  width: 30%; 
  background-repeat: no-repeat;  
  background-size: contain; 
  top: 220px; 
  margin-left: 120px;
  position: absolute; 
  z-index: 11;
}
.info-title h2 {
  position: absolute;
  top: 280px; 
  left: 130px; 
  font-size: 32px; 
  width: 500px; 
  color: white; 
  z-index: 10;
  // border: 2px solid white;
  hyphens: auto; 
  white-space: pre-wrap;  
}
.info-title h3 {
  position: absolute;
  top: 330px; 
  left: 130px; 
  font-size: 18px; 
  width: 600px; 
  color: white; 
  z-index: 10;
  // border: 2px solid white; 
    hyphens: auto; 
  white-space: pre-wrap;
  font-weight: 5;  
}

.info-title h4 {
  position: absolute;
  top: 360px; 
  left: 130px; 
  font-size: 18px; 
  width: 600px; 
  color: white; 
  z-index: 10;
  // border: 2px solid white; 
    hyphens: auto; 
  white-space: pre-wrap;
  font-weight: 5;  
}

.title-description h1 {
  height: 100%;
  width: 100%;
  z-index: 100000;
  color: white; 
}

.movie-gradient {
    width: 100%; 
  height: 720px; 
  // background-color: black; 
  z-index: 0;
  // height: 200px;
  position: absolute;
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
  background: linear-gradient(to right, black,rgba(0, 0, 0, 0.966), rgba(0, 0, 0, 0.363), transparent);
  // background: linear-gradient(to right, black, rgba(0,0,0,0));
  // background: linear-gradient(to right, black, rgba(0,0,0,0));
}

.movie-info img {

}